<!DOCTYPE html>
<html ng-app ="FlickrApp" lang="en">
<head>
	<meta charset="UTF-8">
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <link rel="stylesheet" href="styles/styles.css" />
	<title>Flickr Search API</title>

</head>
<body ng-controller="FlickrCtrl">
	<header class="masthead">
		<h1>Flickr Searcher</h1>
	</header>
	<section class="search-section">
	<form name="myForm" ng-submit="searchFlickr(tag)">
		<input class="search-form" ng-model="tag" type="text" placeholder="Enter a tag to search for.." required>
		<input class="submit" type="submit" value="Submit">
	</form>
	</section>
	<section class="results-section">
		<div ng-if="notifySearch" class="notify-searching">Searching Flickr for photos tagged with {{ tagToSearch }}.</div>
		<div ng-if="error" class="notify-error">Sorry, an error occured.</div>
		<div ng-if="notifyResults" class="notify-results">We found {{ results.length }} results for {{ tagToSearch }}.</div>
		<div ng-show="myForm.$submitted" ng-repeat="result in results" class="results">
			<img ng-src="https://farm{{ result.farm }}.staticflickr.com/{{ result.server }}/{{ result.id }}_{{ result.secret }}.jpg" alt="picture">
		</div>
	</section>
	 <script type="text/javascript" src="https://code.angularjs.org/1.3.10/angular-animate.min.js"></script>
    <script src="apps/app.js"></script>
</body>
</html>