body {
	background-color: #ecf0f1;
}

header, .search-section, .results-section {
	margin: 4em auto;
	text-align: center;
}

header {
	margin-top: 5em;
}

header h1 {
	font-size: 3em;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	margin: 0;
}

#map {
	height: 30em;
	width: 100%;
	margin: 0 auto;
}

#directions {
	margin: 1em;
}

#directions p {
	text-align: center;
	font-weight: bold;
}

#search-term {
	max-width: 40em;
	margin: 0 auto;
}

#lang-section {
	margin-bottom: 1em;
}

#trans-btn-container, .filter-checkbox {
	text-align: center;
}

.trans-select {
	max-width: 15em;
	margin: 0 auto;
}

.results-section {
	margin-top: 3em;
}

.notify-results {
	padding: 2em;
	border-top: 2px solid crimson;
}
 
.notify {
	transition: 500ms linear all;
	font-size: 1.2em;
}

.wrapper {
	transition: 500ms linear all;
}

.results {
	display: inline-block;
	margin: 1em;
	transition: 1s linear all;
	vertical-align: middle;
}

.results img {
	width: 20em;
}

/*CSS Animations*/

/*For Notification*/
.notify.ng-enter,
.notify.ng-leave.ng-leave-active {
	opacity: 0;
}

.notify.ng-leave,
.notify.ng-enter.ng-enter-active {
	opacity: 1;
}

/*For Results*/
.results.ng-enter,
.results.ng-leave.ng-leave-active {
	opacity: 0;
}

.results.ng-leave,
.results.ng-enter.ng-enter-active {
	opacity: 1;
}

.results.ng-enter-stagger,
.results.ng-leave-stagger {
    transition-delay: 200ms;
}

/*Media Queries*/

@media screen and (min-width: 470px){
	header {
	margin-top: 10em;
	}
	header h1 {
		font-size: 5em;
	}
}

@media screen and (min-width: 768px){
	#map {
		width: 75%;
	}
}

@media screen and (min-width: 993px){
	.trans-select {
		max-width: 100%;
	}
}









