<!DOCTYPE html>
<html ng-app ="FlickrApp" lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
	<link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<!-- build:css ./_assets/combined.css -->
	<link rel="stylesheet" href="styles/styles.css" />
	<!-- endbuild -->
	<title>Flickr 'round the World</title>

</head>
<body ng-controller="FlickrCtrl as flickr">
	<header class="masthead">
		<h1>Flickr 'round the World</h1>
		<p>By Gregory Federico. 2016</p>
	</header>
	<section id="map">
	</section>
	<section id="directions">
	<p>Search by box selection to find pictures of the great outdoors in different areas around the globe!</p>
	</section>
	<section class="row search-section">
		<div class="col-md-12">
			<form id="search-term" name="myForm" ng-submit="flickr.searchFlickr(flickr.tag, flickr.points)">
				<div class="row" id="lang-section">
					<div class="col-sm-8">
						<label>Select Language: </label>
					</div>
					<div class="col-sm-4">
						<select class="form-control trans-select" ng-model="flickr.lang" ng-options="item.label for item in flickr.langs">
						</select>
					</div>
				</div>
				<div class="row" id="filter-section">
					<div class="col-sm-8">
						<label>Strictly Outdoor:</label>
						<p>Hint: Toggle this off when making searches in non-English languages.</p>
					</div>
					<div class="col-sm-4 filter-checkbox">
						<input type="checkbox" name="" id="" ng-model="flickr.outdoor">
					</div>
				</div>
				<div class="input-group">
					<input class="form-control search-form" ng-model="flickr.tag" type="text" placeholder="Search by tag" required>
					<span class="input-group-btn">
					<input type="button" class="btn btn-default" value="Translate!" ng-click="flickr.translate(flickr.tag, flickr.lang.value)">
					<input class="btn btn-default" type="submit" value="Go!">			
					</span>			
				</div>	
			</form>		
		</div>
	</section>
	<section class="results-section" id="results-section">
		<div ng-if="flickr.notifySearch" class="notify notify-searching">Searching Flickr for photos tagged with {{ flickr.tagToSearch }}.</div>
		<div ng-if="flickr.error" class="notify notify-error">Sorry, an error occured.</div>
		<div ng-if="flickr.notifyResults" class="notify notify-results">We found {{ flickr.results.length }} results for {{ flickr.tagToSearch }}.</div>
		<div ng-show="myForm.$submitted" ng-repeat="result in flickr.results" class="results">
			<a target="_blank" href="//www.flickr.com/photos/{{ result.owner }}/{{ result.id }}"><img ng-src="//farm{{ result.farm }}.staticflickr.com/{{ result.server }}/{{ result.id }}_{{ result.secret }}.jpg" alt="picture"></a>
		</div>
	</section>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="//code.angularjs.org/1.3.10/angular.js"></script>
	<script type="text/javascript" src="//code.angularjs.org/1.3.10/angular-animate.min.js"></script>
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBMqmShHuzFUZLwyuZk8WVW5GtriTlLxjg" defer></script>	
	<!-- build:js ./_assets/combined.js -->
	<script src="apps/app.js"></script>
	<script src="components/library.js"></script>
	<!-- endbuild -->
</body>
</html>