header, .search-section, .results-section {
	margin: 0 auto;
	text-align: center;
}

header {
	margin-top: 10em;
}

header h1 {
	font-size: 5em;
}

.submit {
	font-size: 1.5em;
}

.results-section {
	margin-top: 3em;
}

.results {
	display: inline-block;
	margin: 1em;
}

.results img {
	width: 20em;
}