body {
	background-color: #ecf0f1;
}

header, .search-section, .results-section {
	margin: 4em auto;
	text-align: center;
}

header {
	margin-top: 10em;
}

header h1 {
	font-size: 5em;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	margin: 0;
}

.submit {
	font-size: 1.5em;
}

.results-section {
	margin-top: 3em;
}

.notify-results {
	padding-top: 2em;
	border-top: 2px solid crimson;
}

.notify {
	transition: 1s linear all;
}

.wrapper {
	transition: 0.5s linear all;
}

.results {
	display: inline-block;
	margin: 1em;
	transition: 1s linear all;
}

.results img {
	width: 20em;
}

/*CSS Animations*/

/*For Notification*/
.notify.ng-enter,
.notify.ng-leave.ng-leave-active {
	opacity: 0;
}

.notify.ng-leave,
.notify.ng-enter.ng-enter-active {
	opacity: 1;
}

/*For Results*/
.results.ng-enter,
.results.ng-leave.ng-leave-active {
	opacity: 0;
}

.results.ng-leave,
.results.ng-enter.ng-enter-active {
	opacity: 1;
}

.results.ng-enter-stagger,
.results.ng-leave-stagger {
    transition-delay: 0.2s;
}






